{
    "title": "Main page",
    "template": "full-html"
}
---

<h2>Buy yourself a phobia!  <br/>  <br/> Why ? Cause you are premium. Just like our <a href="http://localhost:8080/produkte">products</a></h2>
<p>Did you ever feel like "meh" ? <br/>   No?  <br/> Thats good, we dont either. We are premium people and our <a href="http://localhost:8080/produkte">products</a> are for premium customers ONLY.  <br/> BuyPhobia is the answer to the question you never asked for. <br/>  We dont sell just regular products. We sell lifestyle.  </p>






