
<p>
Luxus-Immo-Verwaltungs GmbH & Co. KG <br/>

Vennhausen 4 <br/>

40215 Düsseldorf <br/>

Tel.: (0211) 12 34 56 78 – 9 <br/>

Fax: (0211) 12 34 56 78 – 10 <br/>

E-Mail: kontakt@luxus-immobilien.de <br/>

Registergericht: Amtsgericht Düsseldorf <br/>

Registernummer: HRA 01010 <br/>

Persönlich haftende Gesellschafterin: <br/>

Traumimmobilien-Verwaltungs GmbH <br/>

Vennhausen 4 <br/>

40215 Düsseldorf <br/>

Tel.: (0211) 12 34 56 78 – 11 <br/>

Fax: (0211) 12 34 56 78 – 12 <br/>

E-Mail: kontakt@traumimmo.de <br/>

Geschäftsführer: Egon Kalbfleisch <br/>

Registergericht: Amtsgericht Düsseldorf <br/>

Registernummer: HRB 10101 <br/>

USt.-ID: gemäß § 27a UStG: DE 123456789 <br/>

Im Fall journalistisch-redaktionell gestalteten Auftritten zusätzlich: <br/>

Inhaltlich Verantwortlicher gemäß § 10 Abs. 3 MDStV: Egon Kalbfleisch <br/>

Im Fall Maklertätigkeit zusätzlich: <br/>

Genehmigung nach § 34c GewO <br/>

Aufsichtsbehörde: Gewerbe- und Ordnungsamt der Stadt Düsseldorf <br/>

Landeshauptstadt Düsseldorf, Heinrich-Erhardt-Straße 61, 40468 Düsseldorf <br/>

Kammer: Industrie- und Handelskammer zu Düsseldorf <br/>
</p>