<!-- Shopping Cart Temlate -->

<form id="mainForm" method="POST" action="/fragment">

	<div id="cartElem">
 </div>

  


 <input id="Save" type="submit" value="Save Changes">

 <input id="reloadButton" type="button" value="Reload Cart">

</form>



<form method="GET" action="/bestellen">
 <input type="submit" value="Bestellen">
</form> 





<script src="assets/js/cart.js"></script>